body {
  margin: 0;
  background-color: #3c5169; 
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;
}

.navbar {
  background-color: #ffc729; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.navbar a {
  color: #3c5169;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.top-banner {
  width: 100%;
  height: auto;
  display: block;
}
.content {
  padding: 40px;      /* or just left padding */
  padding-top: 20px;  /* adjust so it's below navbar */
}
a {
  text-decoration: none;
  color: #ffc729;
}
a:hover {
  text-decoration: underline;
}

